<div>
  <h2>{{(currentMember | async)?.username}}</h2>
  <h3>Membership Status: {{(currentMember | async)?.ranking}}</h3>
</div>
<!-- form to make a new post -->
<div class="row">
  <h4>Create a new post by {{(currentMember | async)?.username}}</h4>
  <button class="btn btn-m btn-success" *ngIf="newPostForm == false" (click)="togglePostForm()">New Post</button>
  <br><br>
  <div *ngIf='newPostForm'>
    <div class="form-group">
      <label>Title:</label>
      <input #newTitle required>
    </div>
    <div class="form-group">
      <label>Content:</label>
      <textarea #newContent required></textarea>
    </div>
    <div *ngIf='newPostForm'>
      <div class="form-group">
        <label>Image url:</label>
        <input #newImg>
      </div>
    <button class="btn btn-sm btn-success" (click)="sendNewPost(newTitle.value, newContent.value, newImg.value)">Add</button>
    <button class="btn btn-sm btn-info" (click)="togglePostForm()">Cancel</button>
  </div>
</div>
