<h2>Current members of the X-Files fan club:</h2>
<div class="pipe">
<label>filter users:</label>
<select (change)="checkRank($event.target.value)">
  <option value="">All Members</option>
  <option value="admin">Admin</option>
  <option value="member">Member</option>
  <option value="president">President</option>
</select>
</div>
<br>
<label>Click on a member below to visit member's page</label>
<div *ngFor="let member of members | async | ranking:filterRank">
  <h4 class="cursor" (click)="goToMemberPage(member)">{{member.username}}</h4>
</div>
