<!-- firn ti add a new member -->
<div class="row">
  <button class="btn btn-m btn-success" *ngIf="newMemberForm == false" (click)="toggleAddForm()">Add Member</button>
  <br><br>
  <div *ngIf='newMemberForm'>
    <div class="form-group">
      <label>Username:</label>
      <input #newUserName>
    </div>
    <div class="form-group">
      <label>Ranking:</label>
      <select #newRanking>
        <option value="member">Member</option>
        <option value="admin">Admin</option>
        <option value="president">President</option>
      </select>
    </div>
    <button class="btn btn-sm btn-success" (click)="sendNewMember(newUserName.value, newRanking.value)">Add</button>
    <button class="btn btn-sm btn-info" (click)="toggleAddForm()">Cancel</button>
  </div>
</div>
<!-- below are the members -->
<br>
<hr>
<h2>Current members in the club:</h2>
<div class="row" *ngFor="let member of members | async">
  <div class="well">
  <div class="col-lg-6">
      <li><strong>{{member.username}}</strong></li>
      <li>{{member.ranking}}</li>
  </div>
  <button class="btn btn-sm btn-info right" *ngIf='memberEditForm == null' (click)="toggleEdit(member)">Edit Member</button>
  <div class="col-lg-6">
    <div *ngIf='memberEditForm == member'>
      <div class="form-group">
        <label>Username:</label>
        <input [(ngModel)]="member.username">
      </div>
      <div class="form-group">
        <label>Ranking:</label>
        <select [(ngModel)]="member.ranking">
          <option value="member">Member</option>
          <option value="admin">Admin</option>
          <option value="president">President</option>
        </select>
      </div>
      <hr>
      <button class="btn btn-sm btn-success" (click)="editMember(member)">Add</button>
      <button class="btn btn-sm btn-info" (click)="toggleEdit(member)">Cancel</button>
      <br><br>
      <button class="btn btn-sm btn-danger" (click)="deleteMember(member)">Delete Member</button>
    </div>
  </div>
</div>
</div>
